@font-face {
font-family: 'Latin Modern';
src: url('lmroman10-regular-webfont.woff2') format('woff2'),
url('lmroman10-regular-webfont.woff') format('woff'),
url('lmroman10-regular-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Latin Modern';
src: url('lmroman10-italic-webfont.woff2') format('woff2'),
url('lmroman10-italic-webfont.woff') format('woff'),
url('lmroman10-italic-webfont.ttf') format('truetype');
font-weight: normal;
font-style: italic;
}
@font-face {
font-family: 'Latin Modern';
src: url('lmroman10-bold-webfont.woff2') format('woff2'),
url('lmroman10-bold-webfont.woff') format('woff'),
url('lmroman10-bold-webfont.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Latin Modern';
src: url('lmroman10-bolditalic-webfont.woff2') format('woff2'),
url('lmroman10-bolditalic-webfont.woff') format('woff'),
url('lmroman10-bolditalic-webfont.ttf') format('truetype');
font-weight: bold;
font-style: italic;
}
@font-face {
font-family: 'Playfair Display';
src: url('playfair-display-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
url('playfair-display-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
url('playfair-display-v10-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
font-style: normal;
}
@font-face {
font-family: 'Playfair Display';
font-style: italic;
src: url('playfair-display-v10-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
url('playfair-display-v10-latin-700italic.woff') format('woff'), /* Modern Browsers */
url('playfair-display-v10-latin-700italic.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
font-family: 'Dorsa';
font-style: normal;
font-weight: 400;
src: url('dorsa-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
url('dorsa-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
url('dorsa-v7-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
font-family: 'Portico Vintage';
src: url('portico_vintage-webfont.woff2') format('woff2'),
url('portico_vintage-webfont.woff') format('woff'),
url('portico_vintage-webfont.ttf') format('truetype');
}
@font-face {
font-family: 'Portico Layer';
src: url('portico_layer-webfont.woff2') format('woff2'),
url('portico_layer-webfont.woff') format('woff'),
url('portico_layer-webfont.ttf') format('truetype');
}