
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
display: block;
}
audio, canvas, video {
display: inline-block;
}
audio:not([controls]) {
display: none;
height: 0;
}
[hidden], template {
display: none;
}
html {
font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
body {
margin: 0;
font-size: 12px;
}
a {
background: transparent;
}
a:focus {
outline: thin dotted;
}
a:active, a:hover {
outline: 0;
}
h1 {
font-size: 2em;
margin: 0.67em 0;
}
abbr[title] {
border-bottom: 1px dotted;
}
b, strong {
font-weight: 700;
}
dfn {
font-style: italic;
}
hr {
-moz-box-sizing: content-box;
box-sizing: content-box;
height: 0;
}
mark {
background: #FF0;
color: #000;
}
code, kbd, pre, samp {
font-family: monospace, serif;
font-size: 1em;
}
pre {
white-space: pre-wrap;
}
q {
quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
font-size: 80%;
}
sub, sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}
sup {
top: -0.5em;
}
sub {
bottom: -0.25em;
}
img {
border: 0;
}
svg:not(:root) {
overflow: hidden;
}
figure {
margin: 0;
}
fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em;
}
legend {
border: 0;
padding: 0;
}
button, input, select, textarea {
font-family: inherit;
font-size: 100%;
margin: 0;
}
button, input {
line-height: normal;
}
button, select {
text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
-webkit-appearance: button;
cursor: pointer;
}
button[disabled], html input[disabled] {
cursor: default;
}
input[type="checkbox"], input[type="radio"] {
box-sizing: border-box;
padding: 0;
}
input[type="search"] {
-webkit-appearance: textfield;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}
textarea {
overflow: auto;
vertical-align: top;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
#instantclick {
display: none;
}
body {
font-size: 12px;
color: rgba(0, 0, 0, 0.6);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
font-family: "Latin Modern", serif;
overflow-x: hidden;
}
h2,
h3 {
font-family: "Playfair Display", serif;
font-weight: 400;
}
h4 {
font-family: "Playfair Display", serif;
margin: 1em 0 0.5em 0;
}
img {
width: 100%;
height: auto;
}
a {
text-decoration: none;
color: rgba(0, 0, 0, 0.6);
}
a:hover {
color: rgba(0, 0, 0, 0.9);
}
em em{
font-style: normal;
}
header .logo {
width: 100px;
padding: 1em;
opacity: 0.8;
}
header .logo:hover{
opacity: 1;	
}
header .recherche {
font-family: "Playfair Display", serif;
right: 0;
position: absolute;
}
.overlay {
visibility: hidden;
position: fixed;
top: 0;
left: 0;
background: rgba(255, 255, 255, 0.95);
width: 100%;
height: 100%;
}
header .recherche .case {
display: block;
font-size: 5em;
margin: 1em auto 0.5em auto;
border: none;
color: rgba(197, 31, 22, 1);
background: none;
outline: 0;
text-align:center;
max-width:100%;
}
header #results {
font-family: "Playfair Display", serif;
font-size: 1.5em;
list-style: none;
margin: 0;
padding: 0;
margin-top: 0;
max-width: 100%;
}
header #results li {
width: 100%;
padding: 0.3em 0.1em 0.3em 0.1em;
}
header #results a {
font-size: 1.5em;
padding: 0;
}
#recherche {
top: 0.5em;
right: 3em;
}
.lower:hover {
cursor: pointer;
}
input[type="checkbox"] {
display: none;
}
#rechercher {
cursor: pointer;
color: rgba(197, 31, 22, 0.6);
}
#rechercher:hover {
color: rgba(197, 31, 22, 1);
}
.lower .dashicons.dashicons-search {
font-size: 4em;
}
.overlay label {
position: absolute;
top: 3em;
right: 3em;
cursor: pointer;
color: rgba(197, 31, 22, 1);
}
.overlay nav {
text-align: center;
position: relative;
}
.overlay ul a {
font-weight: 300;
display: block;
color: rgba(197, 31, 22, 0.8);
text-decoration: none;
-webkit-transition: color 0.2s;
transition: color 0.2s;
}
.overlay ul a:hover, .overlay ul a:focus {
color: rgba(197, 31, 22, 1);
}
.lower~.overlay-hugeinc {
opacity: 0;
visibility: hidden;
-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
transition: opacity 0.5s, visibility 0s 0.5s;
}
body.noscroll {
overflow: hidden;
width: 100%;
}
body.scroll {
overflow: initial;
}
#op:checked~.overlay-hugeinc {
opacity: 1;
visibility: visible;
-webkit-transition: opacity 0.5s;
transition: opacity 0.5s;
z-index: 99;
}
.menu {
font-size: 3em;
margin: 2em auto 0.5em auto;
float: left;
width: 100%;
}
.navigation {
display: inline;
list-style: none;
margin: 0;
clear: left;
float: left;
}
.menu .navigation {
position: relative;
left: 50%;
}
.navigation li {
display: block;
float: left;
right: 50%;
position: relative;
text-align: center;
}
.navigation > li:after {
content: ' | ';
}
.navigation li a {
padding: 0.2em 1vw;
margin: 0;
display: block;
}
footer {
clear: both;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
footer hr{
margin: -1em 3em 2em 3em;
border: 1px solid rgba(197, 31, 22, 1);
}
footer .menu{
font-size: 4vw;
text-align: center;
margin: 0.3em 0 1em 0;
}
footer .menu a{
font-family: 'Portico Vintage', sans-serif;
color: rgba(197, 31, 22, 1);
}
footer .menu a:hover{
font-family: 'Portico Layer', sans-serif;
}
footer .menu a:first-child{
margin-right:1em;
}
footer .menu a:last-child{
margin-left:1em;
}
.copyright {
font-size: 1em;
padding: 1em;
text-align: center;
font-style: italic;
}
.algolia{
margin:auto;
text-align:center;
}
.algolia img{
width:150px;
height:auto;
padding:1em;
}
#nav-below {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
font-size: 3em;
height: 1.5em;
width: 100%;
}
.home:not(.paged) #nav-below {
height: 4em;
}
.nav-previous {
position: absolute;
left: 0;
}
.nav-next {
position: absolute;
right: 0;
}
.nav-home {
position: relative;
text-align: center;
margin: 1em 0;
font-size: 1.4em;
font-weight: 700;
}
.nav-home a {
color: rgba(197, 31, 22, 0.8)   
}
.nav-home a:hover {
color: rgba(197, 31, 22, 1)   
}
.header-site {
display: table;
vertical-align: middle;
position: relative;
padding: 0;
margin: auto;
width: 100%;
}
.site-title {
padding: 0.3em;
font-size: 9vw;
line-height: 0.8em;
text-align: center;
margin: auto;
font-weight: normal;
font-family: 'Portico Vintage', sans-serif;
}
.site-title .site-menu{
font-size: 5vw;
margin: -0.1em;
}
.site-title > a:first-child{
font-size: 17vw;
margin-left: -0.13em;
}
.site-title .site-menu a:first-child{
margin-right: 0.3em;
}
.site-title .site-menu a:last-child{
margin-left: 0.3em;
}
.site-title a{
color: rgba(197, 31, 22, 1);
}
.site-title a:hover{
font-family: 'Portico Layer', sans-serif;
}
.liste {
overflow: hidden;
}
.archive, .home, .search {
display: block;
float: left;
clear: none;
position: relative;
width: 100%;
}
.page-title {
font-family: "Playfair Display", serif;
font-size: 8vw;
margin: 0.5em auto;
font-weight: 400;
text-align: center;
overflow: hidden;
}
.archive article, .home article, .search article {
display: block;
width: 50%;
height: 45vh;
float: left;
position: relative;
overflow: hidden;
}
.archive .image, .home .image, .search .image {
display: block;
width: 100%;
height: 100%;
background-position: center;
background-size: cover;
}
.home > .paged article {
width: 50%;
}
.home:not(.paged) article:nth-of-type(1) {
width: 100%;
height: calc(80vh);
}
.home:not(.paged) article:nth-of-type(2), .home:not(.paged) article:nth-of-type(3) {
}
.home:not(.paged) article:nth-of-type(4) {
width: calc(100% * 2/3);
}
.home:not(.paged) article:nth-of-type(5) {
width: calc(100% * 1/3);
}
.home:not(.paged) article:nth-of-type(6) {
width: calc(100% * 1/3);
}
.home:not(.paged) article:nth-of-type(7) {
width: calc(100% * 2/3);
}
.home:not(.paged) article:nth-of-type(8), .home:not(.paged) article:nth-of-type(9), .home:not(.paged) article:nth-of-type(10) {
width: calc(100% * 1/3);
}
.home:not(.paged) article:first-child header {
opacity: 1;
}
.home:not(.paged) article:first-child header .post-title {
font-size: 5em;
text-align: center;
}
.home article header, .archive article header, .search article header {
position: absolute;
z-index: 3;
bottom: 0;
width: 100%;
opacity: 0;
background-color: rgba(0, 0, 0, 0.6);
}
.home article:hover header, .archive article:hover header, .search article:hover header {
opacity: 1;
transition: all 0.5s ease;
}
.home article header .post-title, .archive article header .post-title, .search article header .post-title {
font-size: 2.8em;
color: white;
line-height: 1em;
position: relative;
z-index: 3;
padding: 0.4em;
text-align: left;
margin: 0;
}
.archive article header .post-title em, .home article header .post-title em, .search article header .post-title em {
font-weight: 700;
}
.header-post {
position: absolute;
z-index: 98;
width: 100%;
padding: 1em 0;
}
.header-post .site-title {
padding: 0.1em;
display: inline;
}
.header-post a {
color: rgba(255, 255, 255, 0.7);
padding: 1em;
}
.header-post a:hover {
color: white;
}
.header-post .dashicons-arrow-left-alt {
font-size: 4em;
}
.single .post-header {
position: relative;
background-attachment: fixed;
display: table;
width: 100%;
height: 100vh;
margin-bottom: 3rem;
background-size: cover;
background-position: center;
overflow: hidden;
}
.page .single .post-header {
height: auto;
margin: 0;
}
.single .post-header > .flou {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 20px 0px;
background: inherit;
background-attachment: fixed;
overflow: hidden;
}
.single .post-header .post-title em,
.single .post-header .post-title i {
font-size: 1.5em;
font-weight: 700;
}
.single .post-header > .flou::before {
content: "";
position: absolute;
top: -20px;
left: 0;
width: 200%;
height: 200%;
background: inherit;
background-attachment: fixed;
}
.single .post-header > .flou::after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.2);
}
.single .post-title {
color: white;
text-align: center;
letter-spacing: -1px;
margin: 0.4em auto;
padding: 0px 0.3em;
border: 0;
font: normal 4vw "Playfair Display", serif;
font-weight: 400;
z-index: 1;
position: relative;
margin-top: 0;
margin-bottom: 0
}
.single .page h2 {
color: inherit;
}
article .post-content {
clear: both;
font-size: 2.2em;
line-height: 1.4em;
background-color: white;
z-index: 50;
color: rgba(0, 0, 0, 0.7);
}
article .post-content p, article .post-content ul, article .post-content h3, article blockquote, article img, article .amazon {
max-width: 850px;
margin: auto;
padding: 0;
}
article .post-content p,
article .amazon {
margin: 1em auto;
}
article .post-content a {
text-decoration: underline;
color: rgba(0, 0, 0, 0.7);
}
article .post-content a:hover {
color: rgba(0, 0, 0, 0.9);
}
article .post-content strong,
article .post-content b {
letter-spacing: -0.01em;
}
article .post-content h2 {
margin: 1em auto;
max-width: 950px;
font-size: 2em;
text-align: center;
line-height: 1em;
}
article .post-content h2 em {
font-weight: 700;
}
article .post-content h3 {
margin: 1em auto;
font-size: 2em;
padding: 0;
font-style: italic;
font-weight: 700;
color: rgba(0, 0, 0, 0.6);
line-height: 1em;
}
article .post-content img {
text-align: center;
width: 100%;
display: block;
margin: auto;
}
article .post-content img.big {
max-width: 1300px;
}
article figcaption {
text-align: center;
font-style: italic;
font-size: 0.7em;
margin-top: -0.5em;
}
article blockquote p {
font-style: italic;
font-size: 1.2em;
line-height: 1.1em;
padding: 0 1.5em;
}
article blockquote cite {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
font-style: normal;
font-size: 0.6em;
line-height: 1em;
text-align: right;
display: block;
padding: 0.5em;
}
article .footnotes {
font-size: 0.8em;
line-height: 1.3;
max-width: 900px;
margin: 3em auto 0em auto;
padding: 0 0.7em;
}
article hr {
margin: 3em auto 2em auto;
max-width: 950px;
}
article .amazon ul {
padding-left: 2em;
}
article .amazon a {
text-decoration: none;
}
.azlinks{
overflow-wrap: break-word;
padding: 0em 0.5em;
}
.azindex{
font-family:"Playfair Display", serif;
}
.azindex h2 {
margin-top: 1.5em !important;
}
.azindex a,
.azlinks a {
text-decoration: none !important;
}
.azindex h2 a{
color: rgba(197, 31, 22, 0.8) !important;
}
.azindex h2 a:hover{
color: rgba(197, 31, 22, 1) !important;
}
.azindex a:hover,
.azlinks a:hover{
color: rgba(197, 31, 22, 1) !important;
}
.azindex .desc{
margin-bottom: 0.8em;
}
.page-id-7375 .azindex .head{
font-style:italic;
}
.video-container {
position: relative;
padding-bottom: 56.25%;
height: 0;
max-width: 1300px;
margin: auto;
overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.tiled-gallery {
width: 950px;
max-width: 100%;
margin: auto !important;
}
.tiled-gallery-caption {
font-size: 18px !important;
padding: 10px !important;
text-indent: 0px !important;
white-space: normal !important;
}
.page h4{
text-align: center;
}
.page h4 a{
text-decoration: none;
}
.page h4 a:hover{
color: rgba(197, 31, 22, 1) !important;
}
.responsive-tabs .responsive-tabs__panel{
border:none !important;
}
.responsive-tabs ul.responsive-tabs__list{
margin:1em auto !important;
display: flex !important;
justify-content: center !important;
list-style-type: none;
}
.responsive-tabs .responsive-tabs__list__item{
line-height:1em !important;
border:none !important;
font-family: "Playfair Display", serif !important;
font-size:2.5em !important;
}
.responsive-tabs .responsive-tabs__list__item--active,
.responsive-tabs .responsive-tabs__list__item--active:hover,
.responsive-tabs .responsive-tabs__list__item:hover {
font-style:italic ;
color:rgba(197, 31, 22, 1) !important;
}
.partage {
color: white;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
font-size: 2em;
margin: 4em 0;
}
.partage h4 {
margin: 0;
padding: 0.5em 0;
background-color: #5e5e5e;
width: calc(100% * 1/3);
float: left;
text-align: center;
font: inherit ;
}
.partage ul {
list-style: none;
margin: 0;
padding: 0;
max-width: 100%;
}
.partage ul li {
padding: 0.5em 0;
width: calc(100% * 1/3 * 2/3);
display: inline-block;
text-align: center;
background-color: #5e5e5e;
float: left;
}
.partage ul li:hover, .partage h4:hover {
background-color: white;
color: #5e5e5e;
}
.partage a {
color: white;
}
.partage a:hover {
color: #5e5e5e;
}
.post-meta {
clear: both;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
font-size: 1.8em;
line-height: 1.2em;
width: 100%;
margin: 0 auto;
font-weight: 300;
padding: 1.5em 0;
}
.post-meta .resto {
font-size: 1.5em;
text-align: center;
margin: 0.5em auto;
width: 100%;
font-weight: 700;
float: left;
}
.post-meta ul {
columns: 2;
margin: 0 auto;
list-style-type: none;
max-width: 1000px;
}
.post-meta ul > li {
display: inline-block;
width: 100%;
margin: 0.2em 0;
}
.post-date {
font-size: 0.9em;
display: block;
padding: 1em 2em;
text-align: center;
}
div.canvas {
width: 100% !important;
}
.post-edit-link {
clear: both;
display: block;
text-align: center;
background-color: gray;
font-size: 3em;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
color: white;
font-weight: 700;
}
.fukol-grid {
flex-wrap: wrap; /* 2 */
margin: -0em; /* 5 (edit me!) */
}
.fukol-grid > * {
flex: 1 0 45em; /* 3 (edit me!) */
margin: 0em; /* 4 (edit me!) */
}
#infinite-handle span{
background:none !important;
font-size: 3em !important;
margin: 1em auto;
padding: 0 !important;
width: 100%;
float: left;
text-align: center;
font-family: 'Portico Vintage', sans-serif;
color: rgba(197, 31, 22, 1) !important;
}
#infinite-handle span button:hover{
font-family: 'Portico Layer', sans-serif !important;
}
.post-content.archives {
margin-bottom: 1rem;
}
.post-content.archives a {
text-decoration: none;
}
.post-content.archives h3 {
text-align: center;
}
.post-content.archives h3 a{
color: rgba(197, 31, 22, 0.8);
}
.post-content.archives a:hover{
color: rgba(197, 31, 22, 1);
}
.post-content.archives .yearly ul {
display: flex;
flex-direction: column-reverse;
padding: 0;
}
.post-content.archives li {
list-style-type: none;
text-align: center;
}
.post-content.archives .etapes li {
text-align:left;
list-style-type: circle; 
}
.recherche-404{
width: 400px;
margin: auto;
}
@media only screen
and (max-width : 1100px) {
.partage h4,
.partage ul li {
width: 100%;
}
.menu {
margin: 0;
}
.navigation li {
margin-right: 2em;
font-size: 0.7em;
}
.menu .navigation {
left: 0;
}
.navigation li {
right: 0;
}
.navigation > li:after {
content: "";
}
.post-meta ul {
padding: 0 1em;
}
.home:not(.paged) article:first-child header .post-title {
font-size: 3.5em;
}
.single .post-header .page h2 {
font-size: 10vw;
}
}
@media only screen
and (max-width : 900px) {
.home:not(.paged) article:nth-of-type(n) header .post-title {
font-size: 2.8em;
}
article .post-content p,
article .post-content li {
padding: 0 0.7em;
}
article .post-content h3 {
margin: 1em auto 0.5em auto;
font-size: 1.8em;
padding-left: 0.5em;
}
.searchArchives li {
width: 50%;
}
}
@media only screen
and (max-width : 790px) {
#recherche {
top: 0.2em;
right: 2.5em;
}
header .logo{
width: 65px;
padding: 0.3em;
}
header .recherche .case {
font-size: 3em;
margin: 0.6em auto 0.3em auto;
}
header #results a {
font-size: 1.3em;
}
label .dashicons.dashicons-no-alt {
font-size: 3em;
}
.overlay hr {
width: 90%;
}
.home article:nth-of-child(n) header .post-title, .home:not(.paged) article:nth-of-child(n) header .post-title {
font-size: 2.4em;
}
.home:not(.paged) article:nth-of-type(1) {
height: calc(60vh);
}
.archive article header .post-title,
.search article header .post-title {
font-size: 2.1em;
}
.single .post-header {
height: 80vh;
margin-bottom: 2rem;
}
.post-meta ul {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
columns: 1;
}
.searchArchives li {
width: 100%;
}
.tiled-gallery-caption {
font-size: 13px !important;
padding: 10px !important;
line-height: 20px !important;
}
#infinite-handle span{
font-size:2em !important;
}
}
@media only screen
and (max-width : 600px) {
.home article:nth-of-type(n), .home:not(.paged) article:nth-of-type(n), .archive article, .search article {
width: 100%;
height: 60vw;
max-width: 100vw;
}
.home:not(.paged) article:nth-of-type(n) header .post-title {
font-size: 2em;
text-align: left
}
.home article header, .archive article header, .search article header {
opacity: 1;
}
.nav-home {
font-size: 0.8em;
}
.home:not(.paged) #nav-below {
height: 3em;
}
.single .post-header .post-title,
.single .post-header .post-title em {
font-size:4vh;
}
article .post-content p,
article .post-content li {
font-size: 0.8em;
line-height: 1.4em;
}
article blockquote {
font-size: 1em;
}
article hr {
margin: 2em auto 1em auto;
}
article .post-content h2,
article .post-content h3 {
font-size: 1.2em;
margin: 0.5em auto
}
article .amazon {
font-size: 0.7em;
line-height: 1.3em;
}
}
@media only screen
and (max-width : 320px) {
.home article header .post-title, .home article:first-child header .post-title, .archive article header .post-title {
font-size: 2em;
}
#infinite-handle span{
font-size:1em !important;
}
}
@media only screen
and (max-device-width : 1024px) {
.single .post-header {
background-attachment: scroll;
}
.single .post-header > .flou {
background: none;
padding: 1em 0;
}
}
@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape)  {
.azindex,
.single .post-title,
article .post-content p,
article .post-content li,
article .post-content h3,
article .post-content h2,
article .amazon,
article .footnotes,
article blockquote {
padding-left: constant(safe-area-inset-left);
padding-right: constant(safe-area-inset-right);	
}
footer .post-meta,
header #results li {
padding-left: constant(safe-area-inset-left);
padding-right: constant(safe-area-inset-right);	
width: auto;
}
}